// cover

.coverBox {
	display: flex;
	@media screen and (max-width:750px){
		display: block;

	}
	.coverPic, .coverList {
		max-width: 350px;
		@media screen and (max-width:750px){
			margin: 0 auto;
		}
	}
	.coverPic {
		padding-right: 5%;
		text-align: center;
		@media screen and (max-width:750px){
			padding-right: 0;
		}
	}
	.coverList {
		@include fz(16);
		line-height: 1.5;
		h2 {
			@include fz(22);
			padding: 2% 0 5%;
			font-weight: bold;
		}
		.cdPrice {
			padding: 5% 0 10%;
		}
	}
	.coverHelp {
		@include fz(12);
		line-height: 1.5;
	}
}

.coverYoutube {
	margin: 10% 0;
	text-align: center;
}

.cdAudios {
	margin-bottom: 8%;
	@include fz(14);
	color: #333;
	label {
		margin: 10px 0 5px;
		display: inline-block;
	}
	audio {
		width: 80%;
	}
}

.cd-banner {
	ul {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width:750px){
			display: block;
			padding-bottom: 2%;
		}
		li:first-child {
			margin-right: 2%;
			@media screen and (max-width:750px){
				margin-right: 0;
			}
		}
	}
}