.formSection {
  .formItem {
    display: flex;
    margin-bottom: 3%;
    @media screen and (max-width: 750px) {
      display: block;
    }
    p {
      width: 300px;
      @include fz(16);
      line-height: 1.5;
      color: #333;
      @media screen and (max-width: 750px) {
        width: 100%;
        input,
        textarea {
          width: 100%;
          color: #333;
        }
      }
      .formRequired {
        font-weight: bold;
        color: red;
      }
    }
  }
  .formAccept {
    display: block;
    text-align: center;
  }
  .formSubmit {
    text-align: center;
  }
  br {
    display: none;
  }
}